body {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 237, 245);
    font-size: 25px;
}
h1 {
    color: rgb(246, 255, 246)
}
.white-font {
    color: white;
}
.head {
    text-align: center;

}

.subhead {
    text-align: center;
}
#HANS {
    text-align: center;
}